<!DOCTYPE html>
<html>

  <head>
    <title>Power track query</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>
  <body>
  <center>
  <table style="padding-top:0%;">
      <form action="" method="POST">
      <tr><td><h3>Bio_location (comma seperate for OR):</h3><input type="text" name="bio_loc" value={{request.form.bio_loc}}><br></input></td></tr>
      <tr><td><h3>Place_contains(comma seperate for OR):</h3><input type="text" name="place_con" value={{request.form.place_con}}><br></input></td></tr>
      <tr>
      <td><h3>Bio_contains positive (comma seperate for OR):</h3><input type="text" name="bio_con_pos" value={{request.form.bio_con_pos}}></td></input>
      <td><h3>Bio_contains negative (comma seperate for OR):</h3><input type="text" name="bio_con_neg" value={{request.form.bio_con_neg}}></td></input>
      </tr>
      <tr><td><h3>Tweet handle (comma seperate for OR):</h3><input type="text" name="handle" value={{request.form.handle}}><br></input></td></tr>
      <tr><td><h3>is retweet: (T/F)</h3><input type="text" name="retweet" value={{request.form.retweet}}><br></input></td></tr>
</table>
</center>
<center>
<br>
    {{final}}

    <br>

          <center><input type="submit" value="Search"></input><center>
</center>

      <table>
      <ul>
          <li> Seperate with ','' for OR</li>
          <li> Note: Do not give unnecssary spaces after ','</li>
          <li> For negative queries, place a '-' sign before your query incase of Bio_location, Place_contains and Tweet handle(from).</li>
          <li> No need to place '-' sign incase of bio_contains.</li>
      </ul>

      </table>
      </form>
  </body>

</html>